{{!-- 
Clicks on username or /account
Display all account information
articles

be able to click articles they have created and consequently edit it
Comments?

Contains edit button to change account information

 --}}