<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">


            <div class="card-body">
                <h3 class="card-title" id="signup">Add Post</h3>
                <form action="/add" method="POST">

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="title">Title:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="title" name="title">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="content">Post:</label>
                        </div>
                        <div class="col-md-9">
                            <textarea rows="10" cols="60" id="content" name="content"> </textarea>
                        </div>
                    </div>

                    <div class="form-group float-right mt-4">
                        <input class="btn btn-light" type="submit" value="Submit">
                        <input class="btn btn-light" type="reset" value="Clear">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>