{{!-- {{#each articles}} --}}
<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title" id="blog1">Blog Post 1</h3>
                <p><em>Posted by Username on Date</em></p>
                <p class="card-text">Article here...</p>
                <form class="form-inline" action="/add" method="POST">
                    <div class="form-group">
                    <button class="btn mx-1 btn-light" type="submit">Comment</button>
                    <button class="btn mx-1 btn-light" type="submit">Edit</button>
                    <button class="btn mx-1 btn-light" type="submit"><em>Delete</em></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{{!-- {{/each}} --}}

<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title" id="blog1">Blog Post 2</h3>
                <p><em>Posted by Username on Date</em></p>
                <p class="card-text">Article here for blog post 2...</p>
                <form class="form-inline" action="/add" method="POST">
                    {{!-- <div class="form-group">
                        <label for="amount-{{id}}" class="sr-only">Amount</label>
                        <input class="form-control" type="number" min="1" max="10" value="1" name="amount" id="amount-{{id}}">
                    </div> --}}
                    <div class="form-group">
                    <button class="btn mx-1 btn-light" type="submit">Comment</button>
                    <button class="btn mx-1 btn-light" type="submit">Edit</button>
                    <button class="btn mx-1 btn-light" type="submit"><em>Delete</em></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
