<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">


            <div class="card-body">
                <h3 class="card-title" id="signup">Sign Up</h3>
                <form action="/add" method="POST">

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="fname">First Name:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="fname" name="fname">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="lname">Last Name:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="lname" name="lname">
                        </div>
                    </div>

                                        <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="email">Email:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="email" id="email" name="email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="username">Username:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="username" name="username">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="password">Password:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="password" id="password" name="password">
                        </div>
                    </div>


                    <div class="form-group float-right mt-4">
                        <input class="btn btn-light" type="submit" value="Submit">
                        <input class="btn btn-light" type="reset" value="Clear">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>